html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 1rem;
}

i {
  color: #d10024;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  color: #d10024;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

h1 {
  color: red;
  font-family: "Open-Sans";
}

.header {
  background-color: #15161d;
}
.header-top {
  background-color: #1e1f29;
  color: #fff;
}
.header-top-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}
.header-top-container span {
  margin-right: 1rem;
}
.header-top-container i {
  margin-right: 0.3rem;
}
.header-top-container a {
  color: #fff;
}

.main-header-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 0;
}
.main-header-container a, .main-header-container span, .main-header-container i {
  color: #fff;
}
.main-header-container #brand {
  font-weight: 900;
  font-size: 3rem;
}
.main-header-container #brand i {
  color: #d10024;
  font-size: 2rem;
}
.main-header-container #search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.main-header-container #search-form input {
  height: 40px;
}
.main-header-container #search-form #search {
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 25px;
  width: 60%;
}
.main-header-container .header-actions-menu {
  display: flex;
  align-items: center;
}
.main-header-container .header-actions-menu .wishlist-container, .main-header-container .header-actions-menu .header-cart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 2.5rem;
}
.main-header-container .header-actions-menu .wishlist-container .qty, .main-header-container .header-actions-menu .header-cart-container .qty {
  position: absolute;
  top: -10px;
  right: 2px;
  background-color: #d10024;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header-container .header-actions-menu .wishlist-container i, .main-header-container .header-actions-menu .header-cart-container i {
  margin-bottom: 0.2rem;
}
.main-header-container .header-actions-menu .wishlist-container a:hover, .main-header-container .header-actions-menu .header-cart-container a:hover {
  color: #d10024;
}

.header-bottom {
  background-color: #fff;
  border-bottom: 2px solid #ede7ed;
  border-top: 3px solid #d10024;
}
.header-bottom ul {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-content: left;
  padding: 1rem 0;
}
.header-bottom ul li {
  margin-right: 1.3rem;
}
.header-bottom ul li a {
  color: #2b2d42;
  border-bottom: 2px solid transparent;
}
.header-bottom ul li a:hover {
  color: #d10024;
  border-color: #d10024;
}

.btn {
  padding: 8px 15px;
  height: 40px;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #d10024;
  cursor: pointer;
  outline: none;
  border: 2px solid #d10024;
  transition: 0.4s;
}
.btn:hover {
  background-color: #fff;
  color: #d10024;
}
.btn-half {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-transform: none;
}

/*# sourceMappingURL=app.css.map */
